acmart.cls
acmart.pdf
acmguide.pdf
educomp.cls
samples/sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
samples/ACM-Reference-Format.bst
samples/sample-lualatex*.tex
samples/sample-xelatex*.tex
samples/sample-lualatex*.tex
samples/sample-sigconf*.tex
samples/sample-acm*.tex
samples/sample-authordraft.tex
samples/sample-manuscript.tex
samples/sample-sigplan.tex
samples/*.bbx
samples/*.cbx
samples/*.dbx
